extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/books.css")

block content
  div.main-container
    h2.books-title Books
    div.books-container
      div.nested-books-container
        ul
          each book in books
            div.books
              a(href=`/books/${book.id}`)
                img(src=`${book.coverArt}` width="180px" height="250px")
  include footer.pug
