extends layout.pug

block content

    div.books-container
      p.books-title Books
      div.nested-books-container
        if displayBooks
          each book in displayBooks
            div.book
              a(href=`/books/${book.id}` class="bookimglink"): img(src=`/books/${book.coverArt}` class="book-image")

    include footer.pug
