footer.footer
  .footer-links

    div.michael
      a(href='https://www.linkedin.com/in/michael-gann-1a2161201/')
        i(class="fab fa-linkedin")
      span Michael Gann
      a(href='https://github.com/michael-gann')
        i(class="fab fa-github")
    div.zac
      a(href='https://www.linkedin.com/in/zac-watts-b27450106/')
        i(class="fab fa-linkedin")
      span Zac Watts
      a(href='https://github.com/zdwatts')
        i(class="fab fa-github")
    div.david
      a(href='https://www.linkedin.com/in/david-griffin-117b0045/')
        i(class="fab fa-linkedin")
      span David Griffin
      a(href='https://github.com/davidleegriffin')
        i(class="fab fa-github")
