doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
  body
    nav(class="mainnav")
      div(class="navbar")
        div(class='pagetitle')
          h2: a(href="/" class='deadreads-title') deadreads
        div(class='navsearch')
          input(type='text' placeholder="Search horror books" class='searchinput')
        div(class="usericons")
          div(class='tags')
            a(href='/tags') T
          div(class='crypts')
            a(href='/crypts') C
          div(class='userprofile')
            if user
              a(href=`/users/${user.id}`) U


      div
        ul(class="navlinks")
          li: a(href='/') Home
          if user
            li: a(href=`/users/${user.id}/crypts`) My Crypts
            li: a(href=`/users/${user.id}`) My Profile
            li: a(href="/users/logout") Logout
          else
            li: a(href="/users/sign-up") Sign Up
            li: a(href="/users/login") Login
        //- div(class="buttons")
        //-     form(method='POST' action='/users/logout' class="logout")
        //-       button(type='submit') Logout
        //-     form(method='GET' action='/users/login' class='login')
        //-       button(type='submit') Login

  block content
