extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/login.css")
    script(src="/javascripts/demologin.js")

block content
    +validationErrorSummary(errors)
    div.main-login-container
        div.form-container
            div.welcome-to Please login
            form(action='/users/login' class="form" method='POST')
                input(type='hidden' name='_csrf' value=csrfToken)
                div.form-field
                    label(for="username") Username
                    input(type="text" name="username" class="username" placeholder="Jane123" required)
                div.form-field
                    label(for="password") Password
                    input(type="password" name="password" class="password" placeholder="Password..." required)
                div.form-field
                    button(type="submit" class="form-field__button")
                        span Login
                div.form-field
                    button(type="submit" class="demobtn form-field__button")
                        span Demo Login
    include footer
