extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/reviews.css")

block content
    ul.reviews-container
        .review-container
            img(src=`${reviewBook[0].Books[0].coverArt}` class='review-cover')
            a(href="/users" class="review-user") User
            li.review= reviewBook.review