extends layout.pug

append head

    link(rel='stylesheet' href="/stylesheets/user-crypts.css")

block content
  div.crypts-container
    div.have
      a(href=`/users/${user.id}/crypts/${crypts[0].id}`)= crypts[0].name
    div.want
      a(href=`/users/${user.id}/crypts/${crypts[1].id}`)= crypts[1].name
    div.current
      a(href=`/users/${user.id}/crypts/${crypts[2].id}`)= crypts[2].name
