extends layout.pug

block content

    table
        thead
            tr
                th Read
                th Want to Read
                th Currently Reading
        tbody
            tr
                each crypt in crypts
                    td: a(href='crypts/#{user.id}')= crypt.name
