.books-title, .reviews-title {
  font-size: 32px;
  border-bottom: 1px solid black;
  text-align: center;
}

.books-container {
  flex-direction: row;
  flex-grow: 1;
  background-color: rgb(210, 180, 130);
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.1)
}

.nested-books-container {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book {
  display: inline-flex;
  margin-left: 10%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.books {
  display: inline-flex;
  margin: 25px;
  justify-content: center;
  align-items: center;
}

