@font-face {
  font-family: "Grenze Gotisch";
  src: url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&display=swap")
}

.books-title, .reviews-title {
  font-size: 32px;
  border-bottom: 1px solid black;
  text-align: center;
}

.books-container {
  flex-direction: row;
  flex-grow: 1;
  background-color: rgb(210, 180, 130);
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.1)
}

.nested-books-container {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book {
  display: inline-flex;
  margin-left: 25%;
  height: 350px;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 180, 130);
  padding: 15px;
  border-radius: 25px;
  margin-top: 50px;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
  margin-bottom: 400px;
}

.form {
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books {
  display: inline-flex;
  margin: 25px;
  justify-content: center;
  align-items: center;
}

ul.list {
  margin-bottom: 75px;
  margin-left: 50px;
}

li.title {
  font-family: "Grenze Gotisch";
  font-size: xxx-large;
}

li.author {
  /* font-family: "Grenze Gotisch"; */
  font-size: large;
}

li.synopsis {
  font-family: "Grenze Gotisch";
  font-size: large;
  width: 450px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

li.published {
  font-weight: 700;


.errors {
  font-size: 10px;
  color: red;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.success {
  font-size: 10px;
  color: green;
  margin-top: 5px;
  padding: 5px;
}

