.footer {
  min-height: 100px;
  background-color: #E0A42B;
  margin-top: 10%;
  position: relative;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 90px;
}
