@font-face {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
}

h1 {
    color: #555555;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

body {
    background-color: #F6AA1C;
}

a {
    font-family: 'Merriweather', serif;
}

.book {
    display: inline-flex;
    margin-left: 10%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.books {
    display: inline-flex;
    margin-left: 20px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

ul.list {
    padding: 50px;
    font-family: 'Lato', 'Merriweather', serif;
}

li.title {
    font-size: xx-large;
}

