.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
  }

  .welcome {
   text-align: center;
   margin-top: 15px;
   font-size: 42px;
   border-bottom: 3px solid #220901;
   max-width: 600px;
   margin-bottom: 30px;
  }

  .books-title, .reviews-title {
    font-size: 32px;
    border-bottom: 1px solid black;
    text-align: center;
  }

  .book-image {
    max-width: 250px;
    max-height: 240px;
    object-fit: fill;
  }

  .bookimglink {
    height: 0;
    width: 0;
  }

  .books-container {
    max-width: 900px;
    width: 900px;
    flex-direction: row;
    flex-grow: 1;
    background-color: rgb(210, 180, 130);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.1)
  }

  .nested-books-container {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .booklink-container {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }

  .books {
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
    height: 240px;
  }

  .reviews-container {
    margin-top: 50px;
    max-width: 500px;
    background-color: rgb(210, 180, 130);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 30px;
  }

  .reviewlink-container {
    text-align: center;
  }

  .reviews {
    border: 1px solid gray;
    margin: 15px;
    height: 200px;
    width: 400px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
    background-color: rgb(223, 196, 151);
    border-radius: 50px;
  }

  .username {
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
    align-self: flex-start;
    width: 80px;
  }

  .review {
    text-align: center;
    align-self: flex-end;
  }

  .review-container {
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .review-image {
    max-width: 125px;
    max-height: 120px;
    object-fit: fill;
  }

  .reviewimglink {
    height: 0;
    width: 0;
  }

  .imgcontainer {
    align-self: center;
    padding: 10px;
    margin-right: 10px;
  }
