@font-face {
  font-family: "Gypsy Curse";
  src: url('Gypsy-Curse.ttf')
}

.mainnav {
  height: 150px;
  background-color: #BC3908;
  position: sticky;
  top: 0px;
}

.navbar {
  height: 110px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}

.navsearch {
  width: auto;
  align-self: center
}

.buttons {
justify-content: space-between;
padding: 0 10px;
}

.deadreads-title {
  font-family: Gypsy Curse;
  font-size: 8ch;
  margin-left: 20px;
  text-decoration: none;

}

.deadreads-title:hover {
  transition: text-shadow 4s;
  text-shadow:
  1px 4px 1px #300000,
  1px 6px 1px #400000,
  1px 8px 1px #500000,
  1px 10px 1px #600000,
  2px 12px 1px #700000,
  2px 14px 1px #800000,
  2px 16px 1px #900000,
  2px 18px 1px #A00000,
  3px 20px 1px #B00000,
  3px 22px 1px #C00000,
  3px 24px 1px #D00000,
  3px 26px 1px #E00000,
  3px 28px 1px #F00000,
  3px 30px 1px #FA0000,
  3px 32px 1px #FB0000,
  4px 34px 1px #FC0000,
  4px 36px 1px #FD0000,
  4px 38px 1px #FE0000,
  4px 40px 2px #FF0000;
}

ul.navlinks {
  height: 40px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.searchinput {
  padding: 10px;
  font-size:0.9em;
  min-width: 800px;
  max-width: 800px;
  height: 35px;
  border: 0;
  border-radius: 10px;
  box-shadow:0 0 20px 5px rgba(0,0,0,0.1);
  background-color: rgb(210, 180, 130);
  box-sizing: border-box;
}

.searchinput:focus {
  outline-style: none;
  background-color: rgb(214, 205, 197)
}

.usericons {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}

.usericons div a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  color: rgb(210, 180, 130);
}

.tags, .crypts, .userprofile {
  font-family: Lato;
  padding-top: 13px;
  width: 45px;
  height: 45px;
  background-color: #220901;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  transition: text-shadow 3s;
}

.crypts:hover, .userprofile:hover {
  padding-top: 0px;
  font-family: Gypsy Curse;
  font-size: 37px;
  border: 1px solid black;
  border-radius: 20px;
  color: silver;
  animation-name: color-background;
  animation-duration: 8s;
  transition: text-shadow 3s;
        
  text-shadow: 
    13px 30px 1px black,
    14px 34px 1px #FC0000,
    15px 36px 1px #FD0000,
    16px 38px 1px #FE0000,
    16px 40px 2px #FF0000, 
    16px 42px 2px #FF0000, 
    16px 44px 2px #FF0000, 
    17px 46px 3px #FF0000; 
}

ul.navlinks li {
  margin-left: 50px;
  display: inline-flex;
  border-radius: 50px;
  width: 106px;
  height: 40px;
  background: #220901;
  transition: text-shadow 3s;
}

.navlinks li.center-circle, .navlinks li.center-circle>a {
  color: #621708;
  background: #F6AA1C;
  border: 1px solid #220901;
  border-radius: 50px;
  font-weight: 900;
}

.navlinks li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%; 
  text-decoration: none;
  transition: text-shadow 3s;
}

.navlinks li a:hover {
  font-family: Gypsy Curse;
  font-size: 40px;
  border: 1px solid black;
  border-radius: 20px;
  color: silver;
  animation-name: color-background;
  animation-duration: 8s;
  transition: text-shadow 3s;
        
  text-shadow: 
    13px 30px 1px black,
    14px 34px 1px #FC0000,
    15px 36px 1px #FD0000,
    16px 38px 1px #FE0000,
    16px 40px 2px #FF0000, 
    16px 42px 2px #FF0000, 
    16px 44px 2px #FF0000, 
    17px 46px 3px #FF0000; 
}

@keyframes color-background {
    0%   {background-color: white;}
    10%  {background-color: rgb(153, 106, 114);}
    20%  {background-color: red;}
    100% {background-color: red;}
    }



/* .logout {
  display: inline-block;
}

.login {
  display: inline-block;
}  */
